Repository dialstack/dialstack-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, build

.pre-commit-config.yaml:

repos:
  # TypeScript and formatting
  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Type Check
        entry: npm run typecheck
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

      - id: build
        name: Build Package
        entry: npm run build
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']

fix: add type module to package.json for ES module syntax
  package.json
Due: none

fix: use proper file extensions for ES module package
  .github/workflows/ci.yml
  package.json
  rollup.config.js
Due: build

security: add explicit permissions to CI workflow
  .github/workflows/ci.yml
Due: none

feat(sdk): implement core library with session management
  CHANGELOG.md
  examples/vanilla-js.html
  src/components/base-component.ts
  src/components/call-logs.ts
  src/components/voicemails.ts
  src/core/initialize.ts
  src/core/instance.ts
  src/core/types.ts
  src/index.ts
  src/react/CallLogs.tsx
  src/react/DialstackComponentsProvider.tsx
  src/react/Voicemails.tsx
  src/react/useCreateComponent.tsx
Due: typecheck, build

feat(sdk): implement CallLogs Web Component with API integration
  CHANGELOG.md
  src/components/call-logs.ts
Due: typecheck, build

feat(sdk): implement Voicemails Web Component with audio playback
  CHANGELOG.md
  src/components/voicemails.ts
Due: typecheck, build

feat(sdk): enhance React components with prop synchronization
  CHANGELOG.md
  src/index.ts
  src/react/CallLogs.tsx
  src/react/Voicemails.tsx
  src/react/useCreateComponent.tsx
  src/react/useUpdateWithSetter.ts
Due: typecheck, build

feat(server): add server-side SDK for Node.js
  package.json
  rollup.config.js
  src/index.ts
  src/server/index.ts
Due: typecheck, build

docs: update CHANGELOG for server SDK
  CHANGELOG.md
Due: none

chore: bump version to 0.1.0-alpha.1 for pre-release
  package.json
Due: none

feat(sdk)!: update server SDK for new API design without platform_id
  package-lock.json
  src/server/index.ts
Due: typecheck, build

feat: update SDK for TypeID migration and platform-implicit sessions
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  src/server/index.ts
Due: typecheck, build

feat(sdk): update session endpoint to /account_sessions with body parameter
  CHANGELOG.md
  README.md
  package.json
  src/server/index.ts
Due: typecheck, build

feat(sdk): add accounts.create() method
  package.json
  src/server/index.ts
Due: typecheck, build

fix: ensure SSR compatibility by guarding HTMLElement references
  src/components/base-component.ts
  src/core/initialize.ts
  src/index.ts
Due: typecheck, build

0.2.2-alpha.2
  package-lock.json
  package.json
Due: none

refactor: update SDK for unified API endpoints
  README.md
  src/server/index.ts
Due: typecheck, build

0.2.2-alpha.3
  package-lock.json
  package.json
Due: none

fix: update component API paths to use /v1 prefix
  src/components/call-logs.ts
  src/components/voicemails.ts
Due: typecheck, build

fix: send account in request body for accountSessions.create
  src/server/index.ts
Due: typecheck, build

feat(call-logs): fix API response mapping and add pagination
  src/components/call-logs.ts
Due: typecheck, build

feat(call-logs): format phone numbers with libphonenumber-js
  package-lock.json
  package.json
  src/components/call-logs.ts
Due: typecheck, build

feat(call-logs): use en-US locale and show timezone in dates
  src/components/call-logs.ts
Due: typecheck, build

feat(call-logs): add page size selector and remove header
  src/components/call-logs.ts
Due: typecheck, build

refactor(call-logs): remove outer container styling
  src/components/call-logs.ts
Due: typecheck, build

0.2.2-alpha.4
  package-lock.json
  package.json
Due: none

feat(server): add users API for CRUD operations
  src/server/index.ts
Due: typecheck, build

fix(react): trigger re-render when Web Component is created
  src/react/useCreateComponent.tsx
Due: typecheck, build

feat(voicemails): improve styling to match call-logs component
  src/components/voicemails.ts
Due: typecheck, build

feat(voicemails): redesign to iOS-style expandable list UI
  src/components/voicemails.ts
Due: typecheck, build

feat(sdk): add theming, i18n, callbacks, and accessibility
  README.md
  src/components/base-component.ts
  src/components/call-logs.ts
  src/components/voicemails.ts
  src/core/types.ts
  src/locales/en.ts
  src/locales/index.ts
  src/react/CallLogs.tsx
  src/react/Voicemails.tsx
Due: typecheck, build

feat(sdk): add linting, testing, and quality improvements
  .eslintrc.yml
  .github/workflows/ci.yml
  .prettierignore
  .prettierrc.yml
  README.md
  jest.config.js
  package-lock.json
  package.json
  rollup.config.js
  src/__tests__/exports.test.ts
  src/components/call-logs.ts
  src/index.ts
  src/react/DialstackComponentsProvider.tsx
  src/react/__tests__/DialstackComponentsProvider.test.tsx
  src/react/__tests__/useCreateComponent.test.tsx
  src/react/__tests__/useUpdateWithSetter.test.ts
  src/react/createReactComponent.tsx
  src/react/useCreateComponent.tsx
  src/react/useUpdateWithSetter.ts
  src/server/index.ts
  src/setupTests.ts
  src/templates/COMPONENT_TEMPLATE.md
  tsconfig.json
Due: typecheck, build

feat(sdk): make all visual dimensions configurable via CSS variables
  src/components/base-component.ts
  src/components/call-logs.ts
  src/components/voicemails.ts
  src/core/types.ts
  src/index.ts
  src/react/CallLogs.tsx
Due: typecheck, build

feat(sdk): add comprehensive customization options for embeddability
  src/components/base-component.ts
  src/components/call-logs.ts
  src/components/voicemails.ts
  src/core/types.ts
  src/index.ts
  src/react/CallLogs.tsx
  src/react/Voicemails.tsx
Due: typecheck, build

feat(sdk): add production-grade patterns to server SDK and pure entry point
  package.json
  rollup.config.js
  src/core/initialize-pure.ts
  src/core/instance.ts
  src/core/types.ts
  src/pure.ts
  src/server/errors.ts
  src/server/index.ts
Due: typecheck, build

fix(call-logs): prevent page flicker during pagination
  src/components/call-logs.ts
Due: typecheck, build

refactor(sdk): improve SDK architecture and developer experience
  rollup.config.js
  src/components/base-component.ts
  src/components/call-logs.ts
  src/components/voicemails.ts
  src/core/types.ts
  src/react/CallLogs.tsx
  src/react/Voicemails.tsx
  src/react/__tests__/useCreateComponent.test.tsx
  src/react/__tests__/useUpdateWithSetter.test.ts
  src/react/createReactComponent.tsx
  src/react/useCreateComponent.tsx
  src/react/useUpdateWithSetter.ts
  src/server/index.ts
  src/types/appearance.ts
  src/types/callbacks.ts
  src/types/components.ts
  src/types/core.ts
  src/types/index.ts
Due: typecheck, build

fix(ci): drop Node.js 16.x support
  .github/workflows/ci.yml
  package.json
Due: none

feat(sdk): implement cursor-based pagination in components
  package-lock.json
  package.json
  src/components/call-logs.ts
  src/components/voicemails.ts
Due: typecheck, build

fix(sdk): remove unused variable in call-logs pagination
  src/components/call-logs.ts
Due: typecheck, build
